<main id="main" class="gecici-background">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <h2 class="section-title">Hakkımızda</h2>
            <div class="text-center">

                <p class="border-bottom border-dark p-5">
                    YÖS (Yabancı Öğrenci Sınavı) hazırlık konusunda Avrupa ve Türkiye’deki  Yabancı Uyruklu Öğrencilere yönelik olan profesyonel danışmanlık kurumudur. <br><br>
                    Türkiye Cumhuriyetinde bulunan Üniversitelerin (Yabancı Uyruklu Öğrenci yönlendirme konusunda) resmi temsilciliğini üstlenebliriz. <br><br>
                    Şimdiye kadar bize başvurmuş olan tüm öğrenciler %100 oran ile hedeflerine ulaşmıştır. Bu oranı devam ettirebilmek için profesyonel ekibimiz ile çalışmalarımıza devam etmektedir.
                </p> <br>

                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h2 class="section-title">Vizyonumuz</h2>
                            <p>
                                Dünyanın her tarafında yaşayan yabancı öğrencilerin Türk üniversitelerine ilgilerini arttırıp, burada kazandıkları deneyimlerle Türkiye’nin gönüllü elçilerini olmalarını hedeflemekteyiz. <br><br>
                                Demokratik sürecin oluşumunda öğrencilerin saygı, sevgi ve barış kavramlarını benimseyerek bireysel ve toplumsal yaşama katkı sunmaları hedeflenmiştir.
                            </p>

                        </div>
                        <div class="col">
                            <h2 class="section-title">Misyonumuz</h2>
                            <p>
                                Türkiye’de ve gerekse dünyanın her tarafında özellikle Avrupa’da hep yeniliklerin öncüsü olmuştur. Öğrencilerin Türkiye’ye olan ilgilerini kendisine hedef koymuş ve bu konuda yol ve yöntemler geliştiren bir danışmanlık kurumudur. <br><br>
                                Türkiye’de Üniversite Okuma ve bu konuda yasal haklarını öğrencilere öğreten ve Türkiye’ye eğitim alanında katkı sağlayan bir oluşumdur.
                            </p>
                        </div>
                    </div>

                </div>


            </div>
    </section><!-- End Skills Section -->




</main><!-- End #main -->