 <!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center p-0">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
        <h1>Yabancı Uyruklu Öğrenci Sınavı</h1>
        <h2>Bu sınav hakkında her türlü bilgi bu sitede bulunmaktadır.</h2>
        <a asp-controller="Static" asp-action="About" class="btn-about">Merhaba</a>
    </div>
</section><!-- End Hero -->