<main id="main" class="gecici-background">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <img src="~/MemberTheme/img/whatYos.png" alt="yös öğrenci" style="height:auto;width:100%;" class="mb-5">

            <h2 class="section-title" mt-5>YÖS Nedir?</h2>
            <p class="text-left"><b> YÖS nedir ? </b>YÖS (Yabancı Uyruklu Öğrenci Sınavı) Türkiye’deki üniversitelerde öğrenim görmek isteyen yabancı uyruklu öğrencilerin Üniversite başvurularında kullandıkları üniversite giriş sınavıdır. YÖS Sınavı merkezi bir sınav değildir. Türkiye’de eğitim hayatını sürdürmek isteyen Yabancı Uyruklu öğrenciler için önemli bir sınavdır. <br> <br>Türkiye Cumhuriyetindeki üniversiteler kendi YÖS sınavlarını yapmaktadırlar.</p>
            <br>
            <h3 class="section-title-left">YÖS’e kimler başvurabilir?</h3>
            <p>YÖS sınavına genellikle lise son sınıftaki ve ya lise mezunu yabancı uyruklu öğrenciler başvurmaktadırlar. Yurtdışındaki liselerde lise eğitiminin tümünü tamamlamış olan T.C. Vatandaşlarıda katılabilmektedirler. <br> <br> <b> YÖK’ün açıklamış olduğu ‚YURTDIŞINDAN ÖĞRENCİ KABULÜNE İLİŞKİN ESASLAR‘ </b></p>


            <ol>
                <li>Lise son sınıfta olmaları ya da mezun durumda bulunmaları koşuluyla</li>
                <li>Yabancı uyruklu olanların,</li>
                <li>Doğumla Türk vatandaşı olup da İçişleri Bakanlığı’ndan Türk vatandaşlığından çıkma izni almak suretiyle Türk vatandaşlığını kaybedenler ile Türk vatandaşlığını kaybedenlere talepleri halinde verilen mavi kart sahibi olduklarını belgeleyenlerin, (5901 sayılı Türk Vatandaşlığı Kanununun 7. Maddesinde “(1) Türkiye içinde veya dışında Türk vatandaşı ana veya babadan evlilik birliği içinde doğan çocuk Türk vatandaşıdır.” hükmü bulunmakta olup, yurt dışından kabul kontenjanlarına başvuracak adayların Türk Vatandaşlığı Kanunu’nu incelemelerinde yarar bulunmaktadır.)</li>
                <li>Yabancı uyruklu iken sonradan kazanılan vatandaşlık ile TC vatandaşlığına geçenlerin / bu durumdaki çift uyrukluların *</li>
                <li>a) 01/02/2013 tarihinden önce yurtdışında ortaöğretime devam eden TC uyruklu öğrencilerden ise ortaöğretiminin (lise) son üç yılını KKTC hariç yabancı bir ülkede tamamlayanların (ortaöğretiminin (lise) tamamını KKTC dışında yabancı bir ülkedeki MEB nezdinde açılmış olan Türk okullarında tamamlayanlar dahil) yurt dışından öğrenci kabul kontenjanlarına başvuru yapabileceğine” b) 01/02/2013 tarihinden sonra yurt dışında ortaöğretime başlayan adayların yurt dışından kabul kontenjanlarına ortaöğretiminin (lise) tamamını KKTC hariç yabancı bir ülkede tamamlayanların (ortaöğretiminin (lise) tamamını KKTC dışında yabancı bir ülkedeki MEB nezdinde açılmış olan Türk okullarında tamamlayanlar dahil) başvuru yapabilmelerine,</li>
                <li> KKTC uyruklu olup; KKTC’de ikamet eden ve KKTC’de ortaöğrenimini (lise) tamamlayan GCEAL sınav sonuçlarına sahip olanlar ile 2005-2010 tarihleri arasında diğer ülkelerdeki kolej ve liselere kayıt yaptırıp eğitim alarak GCE AL sınav sonuçlarına sahip olan veya sahip olacakların, başvuruları kabul edilecektir. <br>Türkiye’de ki Yüksek Ögretim Kurumlarında (özellikle Devlet Üniversitelerinde) okumak isteyen Yabancı Uyruklu öğrencilerin girecekleri ve sınav sonuçları ile bu kurumlara başvuracakları bir sınavdır.</li>
            </ol>
            <br>
            <h3 class="section-title-left">YÖS’e hangi ülke vatandaşları başvuru yapabilir?</h3>
            <p>YÖS Sınavına yabancı uyruklu öğrenci şartlarına uygun olan tüm öğrenciler başvurabilir. Yabancı Uyruklu öğrenciler, Mavi kartlı öğrenciler ve yurtdışında lisenin tümünü okumuş olan öğrenciler YÖS sınavına başvuru yapabilirler ve yabancı uyruklu öğrenci kontenjanlarından faydalanabilirler.</p>
            <br>
            <h3 class="section-title-left">YÖS sınavına kaç kişi katılır?</h3>
            <p>Her yıl YÖS sınavına giren öğrenci sayısı ve yabancı uyruklu öğrenci sayısı artmaktadır. Yıllık olarak ortalama 180.000 Yabancı Uyruklu öğrenci T.C.’de ki üniversiteleri tercih etmektedirler. Bu öğrencilerden ortalama +50.000 öğrenci YÖS sınavlarına katılmaktadırlar.</p>
            <br>
            <h3 class="section-title-left">İÜYÖS, MUYÖS, EGEYÖS, OMU YÖS nedir?</h3>
            <p>
                YÖS; merkezi bir sınav değildir. 2011 yılından bu yana YÖS sınavı ilgili T.C. Üniversiteleri tarafından kendi adları ile yapılmaktadır. Örneğin:

                IÜYÖS, MUYÖS,EGEYÖS,AÜYÖS,AYÖS,OMÜYÖS.

                Bazı üniversiteler; özellikle büyük Devlet Üniversitelerinin yapmış oldukları YÖS sınav sonucunu kabul ederek, başvuru kabul etmektedirler. Yani, bazı üniversitelere onlara ait sınava girmeden kabul ettikleri Devlet Üniversitesinin YÖS sınav sonucu yeterli olamaktadır.

                11,04,2012 tarih ve 28261 sayılı Resmi Gazetede yayımlanan 6287 sayılı kanunun 14/f maddesince Devlet Üniversitelerinde %35, Vakıf Üniversitelerinde % 50’yi geçmeyecek şekilde Uluslararası öğrencilere kontenjan ayrılmıştır.
            </p>
            <br>
            <h3 class="section-title-left">YÖS Sınav Başvuruları</h3>
            <p>
                YÖS Sınav Başvuru koşulları, tarihleri ve süreçleri üniversitelerin kendi web sitelerinden yapılmaktadır. Sınav başvurularında her hangi bir sınırlama yoktur. Üniversiteler kendi YÖS Sınavlarını yaptıkları için adaylar tüm üniversitelerin sınavlarına başvurabilirler ve bu sınavlara katılabilirler.
            </p>
            <br>
            <h3 class="section-title-left">YÖS Başvuruları ne zaman olur?</h3>
            <p>YÖS Sınav başvuruları genellikle Mart – Haziran ayları arasında yapılmaktadır. Bu aylar arasında üniversiteler başvuru tarihleri – sınav tarihleri ve kontenjanlarını açıklamaktadırlar. <b> Üniversiteler bölümden ayrıntılara ulaşabilirsiniz.</b> </p>
            <br>
            <h3 class="section-title-left">YÖS Sınav sonuçları ne zaman açıklanır?</h3>
            <p>YÖS Sınav sonuçları – Üniversitelerin Kesin Kabul / Kayıt sonuçları YÖS Sınavları yapıldıktan ortalama 3 hafta ile 6 hafta arasında sonuçlanmaktadır. Genellikle online sistem üzerinden sonuçlar belli olmaktadır. Bazı üniversitelerde ise kabul edilen öğrenciler liste olarak üniversitelerin resmi web sitelerinde yayınlanmaktadır. </p>
            <br>
            <h3 class="section-title-left">YÖS Nerede yapılır?</h3>
            <p>YÖS Sınavları öncelikle üniversitelerin kendi kampüsü içerisinde, yurt içi ve yurtdışında belirlenmiş olan merkezlerde yapılmaktadır. Almanya, Fransa, Hollanda, Rusya ve 35 farklı ülkede çeşitli üniversitelerin YÖS Sınavları paralel bir zamanda yapılmaktadır.</p>
            <br>
            <h3 class="section-title-left">YÖS Başvuru Ücretleri          </h3>
            <p>YÖS sınav başvuru ücretleri her yıl üniversiteler tarafından belirlenmektedir. Başvuru ücretleri 20 USD ile 100 USD arasında olmaktadır. Uyruk ve Sınav Merkezi olarak ücretler değişiklik gösterebilmektedir.          </p>
            <br>
            <h3 class="section-title-left">YÖS Sınav Süresi          </h3>
            <p>YÖS sınavlarında verilen ortalama süre 90 ile 120 dakika arasında değişmektedir. Bir çok üniversitede 90 dakika baz alınmaktadır. Öğrencilerin ortalama bir YÖS Sınav sorusu için 1,12 dakika süresi vardır.          </p>


        </div>
    </section><!-- End Skills Section -->




</main><!-- End #main -->