<main id="main" class="gecici-background">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>YÖS (Yabancı Uyruklu Öğrenci Sınavı)</h2>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mycard" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box iconbox-blue">
                        <h4><a asp-controller="Static" asp-action="WhatYos">YÖS nedir?</a></h4>
                        <p>YÖS (Yabancı Uyruklu Öğrenci Sınavı) Türkiye’deki üniversitelerde öğrenim görmek isteyen yabancı uyruklu öğrencilerin Üniversite başvurularında kullandıkları üniversite giriş sınavıdır</p><br>
                        <a asp-controller="Static" asp-action="WhatYos" class="card-link">Detaylar için Tıklayınız...</a>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 mycard" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box iconbox-orange ">
                        <h4><a asp-controller="Static" asp-action="YosRequirements">YÖS Şartları</a></h4>
                        <p>YÖS Şartları nelerdir?  YÖS Sınavına kimler başvurabilir? Uluslararası/Yabancı Öğrenci Olarak kimler bu haktan faydalanabilirler?</p><br><br><br>
                        <a asp-controller="Static" asp-action="YosRequirements" class="card-link">Detaylar için Tıklayınız...</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 mycard" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box iconbox-pink">
                        <h4><a asp-controller="YosQuestions" asp-action="Index">YÖS Soruları</a></h4>
                        <p>YÖS Soruları ve YÖS Konuları üniversiteden üniversiteye değişiklikler göstermektedir. Ancak konular tahmin ve kategorize edilebilir. </p><br><br><br>
                        <a asp-controller="YosQuestions" asp-action="Index" class="card-link">Detaylar için Tıklayınız...</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mycard" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box iconbox-yellow">
                        <h4><a asp-controller="Static" asp-action="YosExamSubjects">YÖS Sınav Konuları</a></h4>
                        <p>YÖS Sınav konuları Temel Öğrenme Becerileri sorularından oluşmaktadır. Adayların Soyut düşünme güçlerinin ölçülebilmesi için Matematik soruları sorulmaktadır.</p><br><br>
                        <a asp-controller="Static" asp-action="YosExamSubjects" class="card-link">Detaylar için Tıklayınız...</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mycard" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box iconbox-red">
                        <h4><a asp-controller="BasePoint" asp-action="Index">YÖS Taban Puanları</a></h4>
                        <p>YÖS Taban Puanları her üniversite yönetimi tarafından farklı hesaplanmaktadır. Soruların dağılımı ve YÖS Puan değerleri farklılık göstermektedir.</p><br><br>
                        <a asp-controller="BasePoint" asp-action="Index" class="card-link">Detaylar için Tıklayınız...</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mycard" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box iconbox-teal">
                        <h4><a asp-controller="YosQuota" asp-action="Index">2018 YÖS Kontenjanları</a></h4>
                        <p>2018 YÖS Kontenjanlarını Üniversite Adı / Bölüm Adı / Süre ve Kontenjan olarak liste halinde yayınlıyoruz.</p><br><br><br>
                        <a asp-controller="YosQuota" asp-action="Index" class="card-link">Detaylar için Tıklayınız...</a>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->

</main><!-- End #main -->