<main id="main" class="gecici-background">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <img src="~/MemberTheme/img/yosExamSubjects.png" class="mb-5" style="border-radius: 900px; height:auto; width:100%;" alt="yös soruları" >
            <h2 class="section-title">YÖS Sınav Konuları</h2>
            <div class="text-left">
                <p>
                    YÖS Sınav konuları Temel Öğrenme Becerileri sorularından oluşmaktadır. Adayların Soyut düşünme güçlerinin ölçülebilmesi için Matematik soruları sorulmaktadır. Aşağıdaki listelerde YÖS Sınav Konuları olan Matematik e Genel Yetenek (IQ) konularının alt başlıklarını görmektesiniz.
                </p>
                <br>
                <h3 class="section-title-left">YÖS Matematik Konuları </h3>
                <ul>
                    <li>Rasyonel ve ondalıklı sayılar ve bu sayılarda dört işlem, üslü ve köklü sayılar </li>
                    <li>Oran bulma ve değer hesaplama diğer bir konudur.</li>
                    <li> Çarpanlara ayırma, yani sadeleştirmeler ve değer hesaplamaları </li>
                    <li>Denklemlerde bilinmeyenleri bulma (x=?)</li>
                    <li>Kümeler, Kesişim ve Birleşim Bulma</li>
                    <li>Polinomlar (Polynomdivision) bölmede kalan(ları) bulma</li>
                    <li>Fonksiyonlarda grafiklerden değer bulmalar, bileşkeler, ters fonksiyonlar ve fonksiyonel denklemler. </li>
                    <li>Diğer önemli bir konu limitlerdir. Limit konusunda trigonometri ve fonksiyonlarda limit.</li>
                    <li>Denklemlerde bilinmeyen(leri) sayıları bulma </li>
                    <li>Trigonometri konusunda sadeleştirme, denklem çözme problemleri, grafiklerde trigonometrik değerlerin bulunması ve toplam fark formülleri büyük bir yer almaktadır.</li>
                    <li>Logaritmalar ve logaritmalı denklemler </li>
                    <li>Türev hesaplamaları, Limit ve Türev, Grafik ve Türev </li>
                    <li>Belirli/Belirsiz İntegral konuları, alan bulma ve şekillerde taralı alanların hesaplama </li>
                    <li>Matriste Dörtlü İşlemler </li>
                    <li>Determinant</li>
                    <li>Geometride ise Çember, Üçgen, Daire, Dörtgen, Dikdörtgen, Kare, Çokgen</li>
                </ul> <br>

                <h3 class="section-title-left"><b> YÖS Genel Yetenek / YÖS IQ Konuları </b> </h3>

                <ul>
                    <li>Küplerin sayılması</li>
                    <li>Birinci Satırdaki İlişkiye Göre İkinci Satırı Hangi Şekil Tamamlar </li>
                    <li>Birinci Ve İkinci Satırda Verilen İlişkiye Göre Üçüncü Satırı Hangi Şekil Tamamlar </li>
                    <li>Farklı Şekillerin Bulunması </li>
                    <li>Harf ve Sayı İlişkileri</li>
                    <li>Sayı ve Şekil İlişkileri </li>
                    <li>Harfli Tablolarda İstenilen harfleri bulmak </li>
                    <li>Şekiller ile Toplama ve Çıkarma İşlemleri</li>
                    <li>Bir şekil dizisindeki şekili bulmak</li>
                    <li>Terazi soruları (Şekil denklikleri)</li>
                    <li>Tabloda şekil denklikleri </li>
                    <li>üç x üçlük matriste soru işareti yerine hangi şekil gelmelidir</li>
                    <li>dörde dört matrislerde eksik Parçaların Bulunması</li>
                    <li>üçe üçlü şekil matrislerininde eksiklerin tamamlanması</li>
                    <li> üç x üç sayısal matrislerin bulunulması</li>
                    <li> Küplerin açılması</li>
                    <li>Şekil düzeninde sıradaki şekli bulmak</li>
                    <li>Şekil tamamlayarak kurallara varıp, çekil düzenlerinin tamamlanması</li>
                    <li>Sayılar aracılığıyla kurallar bulup – boşları doldurma işlemleri</li>
                    <li>Eskik olan bir karenin bütünlenmesi – eksik parçanın tanımlanması</li>
                    <li>Sayılar arasında kuralların bulunması</li>
                    <li>Sayı dizilerinde örüntülerin bulunup, soru çözümlerinde uygulanması</li>
                    <li>Şekil dizilerinde örüntülerin bulunması</li>
                    <li>Objelerin ve ya kağıtların katlanması</li>
                    <li>Denklem sistemleri (şekil ve objeler ile)</li>
                    <li>Harflerden oluşan bir tabloda istenenin bulunması (kural bularak)</li>
                    <li>Şekillerin döndürülmesi / katlanması / eksilmesi</li>
                    <li>üç boyutlu şekillerin tamamlanması</li>
                </ul>



            </div>


        </div>
    </section><!-- End Skills Section -->




</main><!-- End #main -->