<main id="main" class="gecici-background">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <h2 class="section-title">YÖS Şartları</h2>
            <div class="text-left">
                <p>
                    <b> YÖS Şartları nelerdir?  YÖS Sınavına kimler başvurabilir? Uluslararası/Yabancı Öğrenci Olarak kimler bu haktan faydalanabilirler? Sizlere YÖS Şarları ve koşulları hakkında tüm bilgileri veriyoruz. </b><br><br>
                    YÖS Adaylarının <b> lise son sınıfta olmaları</b> veya <b> mezun durumunda bulunmaları</b> şartı ile birlikte;
                </p>
                <ul>
                    <li>Yabancı Uyruklu Olmaları</li>
                    <li>Doğumla Türk Vatandaşı olup daha sonra Türk vatandaşlığından çıkma izni olanlar (Mavi Kart -5901 sayılı yasa) </li>
                    <li>Yabancı Uyruklu iken Türkiye Cumhuriyeti (T.C.) Vatandaşlığına geçenler Çifte Uyruklular</li>
                    <li>
                        Türkiye Cumhuriyeti vatandaşı olup, öğrenimini yabancı bir ülkede tamamlayanlar <br>
                        (Eğitiminin son üç yılını yurtdışında okumuş olması zorunludur!)
                    </li>
                    <li>
                        Yabancı bir ülkedeki Türk okullarında eğitim ve öğrenimlerini tamamlayan öğrenciler <br>
                        (Örnek: Batı Avrupa Açık Lise Programı gibi)
                    </li>
                    <li>GCE AL sınavına sahip olanlar</li>
                    <li>Türkiye’de lise eğitimi alan tamamen yabancı uyruklu öğrenciler </li>
                </ul> <br>
                <p><b> YÖS Şartlarını yerine getirmiş sayılmaktadırlar</b> ve <b> YÖS Sınavı’na</b> katılabilirler.</p> <br>

                <h3 class="section-title-left"><b> YÖS Şartları: Kimler Yabancı Uyruklu Öğrenci hakkından faydalanamaz?</b> </h3>
                <ol>
                    <li>Türkiye Cumhuriyeti (T.C.) vatandaşı olup, Türkiye ve Kuzey Kıbrıs Türk Cumhuriyeti (KKTC)’de lise mezunluğu olan öğrenciler </li>
                    <li>Türkiye Cumhuriyeti (T.C.) vatandaşı ve aynı zamanda başka bir yabancı ülke vatandaşığı taşıyan ve Türkiye’de liseyi bitiren öğrenciler </li>
                    <li>Kuzey Kıbrıs Türk Cumhuriyeti (KKTC) uyruklu çifte vatandaşlar </li>
                    <li>Türkiye sınırları içerisinde bulunan Yabancı Liselerde okuyan çifte uyruklu öğrenciler <b> YÖS Şartları’nı yerine getirmemiş</b> sayılmaktadır ve <b> YÖS hakkından faydalanamazlar!</b></li>
                </ol> <br>

                <h3 class="section-title-left"><b> Türkçe bildiğinizi belgelendirmek YÖS Şartları’ndan biri midir?</b> </h3>
                <p>
                    Türkçe bilmeniz veya Türkçe’yi bildiğinizi belgelendirmeniz YÖS Şartlarından biri değildir. Üniversite kabullerinde sizlere zorunlu kılınmayacaktır. <br> <br>
                    YÖS Sınav sonuçları ile üniversitelere kayıt yaptırdıktan sonra, seviye belirlenme amaçlı Yabancı Öğrenciler İçin Türkçe Seviye Belirleme Sınavları yapılır. <br> <br>
                    Sınav sonuçları değerlendirmelerinde öğrenciler A, B ya da C gruplarına ayırılmaktadır. <br> <br>
                    Eğer öğrenci YÖS Türkçe Sınavından:<br> <br>
                </p>

                <ul>
                    <li>A grubuna atanırsa yükseköğrenim hayatında Türkçe bariyeri ile karşılaşmıyacaktır. </li>
                    <li>B grubuna atanırsa lisans dersleri devam ederken, ders planına ek ders olarak Yabancı Öğrenciler İçin Türkçe Dersi eklenmektedir. </li>
                    <li>C grubuna atanırsa öğrenci Türkçe Hazırlık okuması gerekiyor ve ya TÖMER’den Türkçe sertifikası alması gerekiyor.</li>
                </ul>



            </div>


        </div>
    </section><!-- End Skills Section -->

    <img src="~/MemberTheme/img/yosRequirements.png" class="rounded mx-auto d-block mb-5" alt="yös Şartları"  style="height:auto;width:auto;" >



</main><!-- End #main -->