<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Kelly</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/ -->
        </div>
    </div>
</footer><!-- End  Footer -->