<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="info-box blue-bg">
            <i class="fas fa-user-graduate"></i>
            <div class="count">66</div>
            <div class="title">Öğrenci</div>
        </div>
        <!--/.info-box-->
    </div>
    <!--/.col-->

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="info-box brown-bg">
            <i class="fas fa-university"></i>
            <div class="count">75</div>
            <div class="title">Üniversite</div>
        </div>
        <!--/.info-box-->
    </div>
    <!--/.col-->

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="info-box dark-bg">
            <i class="far fa-eye"></i>
            <div class="count">436</div>
            <div class="title">Ziyaretçi</div>
        </div>
        <!--/.info-box-->
    </div>
    <!--/.col-->


</div>