<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width" />

    <title>YOS Sitem</title>
    <!-- Favicons -->
    <link href="~/MemberTheme/img/favicon.png" rel="icon">
    <link href="~/MemberTheme/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/MemberTheme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/MemberTheme/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/MemberTheme/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/MemberTheme/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/MemberTheme/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/MemberTheme/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/MemberTheme/css/style.css" rel="stylesheet">

</head>

<body>
        <!--header start-->
        @await Component.InvokeAsync("MyProject.WEB.ViewComponents.NavbarComponents")
        <!--header end-->
        <!--main content start-->
        @*<section id="main-content">
            <section class="wrapper">*@
                @RenderBody()
            @*</section>
        </section>*@
        <!--main content end-->
        <!--Footer start-->
        @await Component.InvokeAsync("FooterComponents")
        <!--footer end-->

    <script src="~/js/jquery/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.js"></script>
    <!-- Vendor JS Files -->
    <script src="~/MemberTheme/vendor/jquery/jquery.min.js"></script>
    <script src="~/MemberTheme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/MemberTheme/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/MemberTheme/vendor/php-email-form/validate.js"></script>
    <script src="~/MemberTheme/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/MemberTheme/vendor/counterup/counterup.min.js"></script>
    <script src="~/MemberTheme/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/MemberTheme/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/MemberTheme/vendor/venobox/venobox.min.js"></script>
    <script src="~/MemberTheme/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/MemberTheme/js/main.js"></script>

    @RenderSection("Scripts",false)

</body>
</html>


