

<main id="main" class="gecici-background">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <h2 class="section-title">Profil</h2>
            <div>
                Hoşgeldiniz @ViewBag.Name &emsp; <button class="btn btn-sm btn-outline-dark"><a asp-action="Settings" ><i class="fas fa-cog"></i></a></button>
            </div><br>
            <p id="myButton2">Takip etmek istediğiniz Üniversiteleri bulup, takibe alınız.</p>

            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping"><i class="fas fa-filter"></i></span>
                        <input type="text" class="form-control" placeholder="Search" id="search" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                    <br>

                    <div id="universities"></div>


                </div>
            </div>
        </div>
    </section><!-- End Skills Section -->
</main><!-- End #main -->

@section Scripts{
    <script>
        $(document).ready(function () {

            var mySearch;

            //Add Button Operations
            var addButton = function () {
                $(".addButton").click(function () {
                    var id = $(this).attr("data-id");
                    $(this).html('<div class="spinner-border text-white" role="status"></div>');

                    $.ajax({
                        dataType: "html",
                        type: "GET",
                        url: "/Profile/SelectUniversity",
                        data: {
                            "universityId": id,
                        },
                        success: function (data) {
                            getUniversities();
                        }
                    });

                });
            };

            //Delete Button Operations
            var deleteButton = function () {
                $(".deleteButton").click(function () {
                    var id = $(this).attr("data-id");

                    $.ajax({
                        dataType: "html",
                        type: "GET",
                        url: "/Profile/PopUniversity",
                        data: {
                            "universityId": id,
                        },
                        success: function (data) {
                            getUniversities();
                        }
                    });

                });
            };


            $("#search").keyup(function () {
                var value = $(this).val();
                mySearch = value.toLowerCase();
                getUniversities();
            });

            var getUniversities = function () {
                $.ajax({
                    dataType: "html",
                    type: "GET",
                    url: "/Profile/PartialProfileUniversities",
                    data: {
                        "search": mySearch,
                    },
                    success: function (data) {
                        $("#universities").html(data);
                    },
                    complete: function () {
                        addButton();
                        deleteButton();
                    }
                });
            };

            getUniversities();




        });
    </script>

}