@model YosQuotaUpdateDto


<form asp-action="UpdateQuota" method="post" class="w-75 mx-auto p-3 mt-2">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label class="col-sm-2 control-label">Üniversite Adı</label>
        <div class="col-sm-8">
            <input type="text" asp-for="UniversityName" class="form-control">
        </div>
        <span class="text-danger col-sm-12 text-center" asp-validation-for="UniversityName"></span>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Bölüm</label>
        <div class="col-sm-8">
            <input type="text" asp-for="Departments" class="form-control">
        </div>
        <span class="text-danger col-sm-12 text-center" asp-validation-for="Departments"></span>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Süre</label>
        <div class="col-sm-8">
            <input type="text" asp-for="Time" class="form-control">
        </div>
        <span class="text-danger col-sm-12 text-center" asp-validation-for="Time"></span>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Kontejyan</label>
        <div class="col-sm-8">
            <input type="text" asp-for="Quota" class="form-control">
        </div>
        <button type="submit" class="btn btn-success btn-sm col-sm-2">Kaydet</button>
        <span class="text-danger col-sm-12 text-center" asp-validation-for="Quota"></span>
    </div>

</form>


@section Scripts{
    <script src="~/jquery-validate/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}