@model UniversityAddDto

<form asp-action="AddUniversity" method="post" class="w-75 mx-auto p-3" enctype="multipart/form-data">
    <div class="form-group">
        <label>Üniversite Adı</label>
        <span class="text-danger" asp-validation-for="Name"></span>
        <input class="form-control" type="text" asp-for="Name" />
    </div>
    <div class="form-group">
        <label>Şehir</label>
        <span class="text-danger" asp-validation-for="CityId"></span>
        <select class="form-control" asp-for="CityId" asp-items="ViewBag.Cities">
        </select>
    </div>
    <div class="form-group">
        <label>Tür</label>
        <span class="text-danger" asp-validation-for="UniversityTypeId"></span>
        <select class="form-control" asp-for="UniversityTypeId" asp-items="ViewBag.Types">
        </select>
    </div>
    <div class="form-group">
        <label>Üniversite Adresi</label>
        <span class="text-danger" asp-validation-for="URL"></span>
        <input class="form-control" type="text" asp-for="URL" />
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Başvuru Tarihi</label>
        <div class="col-md-10">
      
            <input name="BasvuruTarih" type="date" size="16" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Sınav Tarihi</label>
        <div class="col-md-10">
          
            <input name="SinavTarihi" type="date" size="16" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Sonuc Tarihi</label>
        <div class="col-md-10">
         
            <input name="SonucTarihi" type="date" size="16" class="form-control">
        </div>
    </div>
    <div class="form-group mt-3">
        <label>Üniversite Logosu</label>
        <input type="file" class="form-control-file" name="Resim">
    </div>
    <button type="submit" class="btn btn-success btn-sm">Kaydet</button>
</form>


@section Scripts{
    <script src="~/jquery-validate/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}